.App-container {
  text-align: center;
}

.App-logo-image {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-image {
    animation: spin-logo infinite 20s linear;
  }
}

.App-header-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-navigation-link {
  color: #61dafb;
}

@keyframes spin-logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

